<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="keywordService"
		class="com.unbank.spider.keyword.service.impl.KeywordServiceImpl"
		autowire="byName">
	</bean>
	<bean id="keywordDao" class="com.unbank.spider.keyword.dao.impl.KeywordDaoImpl"
		autowire="byName">

	</bean>


</beans>